# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Expo
# ===============================
.expo/
dist/
web-build/
expo-env.d.ts

# ===============================
# Native / Keys
# ===============================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# ===============================
# Debug
# ===============================
npm-debug.*
yarn-debug.*
yarn-error.*

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# Generated native folders
# ===============================
/ios
/android

# ===============================
# Environment Files (VERY IMPORTANT)
# ===============================
.env
.env.*
!.env.example
.env*.local